/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Baloo Chettan 2", cursive;
  line-height: 1.5;
}

/* My Css */

/* Home Page */

.home_hero {
  background: #5cb85c;
  width: 100%;
  height: 10.5rem;
  color: white;
  text-align: center;
}

.home_heading {
  font-size: 3.2rem;
  font-weight: bold;
  padding-top: 1.2rem;
}

.home_subheading {
  font-size: 1.4rem;
}

/* Header Page */

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 0rem;
}

.header {
  position: relative;
  padding: 0.5rem 0;
  width: 100%;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5cb85c;
}

.nav-bar__menu-item {
  margin-left: 1rem;
}
.nav-bar__menu-item {
  font-size: 0.99rem;
  letter-spacing: 0.03rem;
  color: #a3a3a3;
}

.nav-bar__menu-item:hover {
  color: rgb(87, 87, 87);
}

.nav-bar__menu-item:active {
  color: rgb(87, 87, 87);
}

/* Login Page */

.login_heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.login_subheading {
  text-align: center;
  font-size: 1rem;
  color: #5cb85c;
  margin-bottom: 0.5rem;
}

.login_form {
  text-align: center;
}

.login_input_email {
  width: 32rem;
  height: 3rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  border: 0.06rem solid #bdbdbd;
  margin-bottom: 1rem;
}

input:focus {
  border-radius: 0.18rem;
  border: 0.06rem solid #188bff;
}

.login_btn {
  border-radius: 0.35rem;
  background: #5cb85c;
  color: white;
  border: none;
  font-size: 1rem;
  width: 6.5rem;
  height: 3rem;
  margin-left: 25.3rem;
}

.login_btn:hover {
  background: hsl(120, 57%, 42%);
  cursor: pointer;
}

/* Home Main Page */

.home_main_border {
  border-bottom: 1px solid #bdbdbd;
  margin: 2rem 0 1rem;
}
.home_main_feed {
  padding-left: 0.75rem;
  color: #5cb85c;
  font-size: 1.2rem;
  border-bottom: 0.09rem solid #5cb85c;
  width: 11%;
}
.home_main_image {
  display: inline-flex;
}

.home_main_pic {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.home_main_title {
  color: #5cb85c;
  font-size: 1.2rem;
}

.home_main_name {
  margin: 0.5rem 0rem 0rem 0rem;
  font-size: 1.6rem;
  margin: 1rem 0rem 0.4rem 0;
  color: black;
}

.home_main_subname {
  font-size: 1rem;
  color: #bdbdbd;
  margin-bottom: 1.3rem;
}

.home_main_read-more {
  font-size: 0.75rem;
  color: #bdbdbd;
}
.border_2 {
  margin-top: 1.4rem;
}

/* Article Page */

.article_page {
  background: #333333;
  width: 100%;
  height: 10.5rem;
  color: white;
}

.article_title {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 1.2rem;
}

.home_subheading {
  font-size: 1.4rem;
}

.index_title {
  color: white;
}

.article_description {
  font-size: 1.2rem;
  margin-top: 2rem;
}
